body{
    margin: 0;
    padding: 0;
    min-height:100vh;
    background-image: linear-gradient(125deg, #c3c3c4, #fff45b) ;
    background: url('../images/404_background.png') no-repeat center center/cover;
    width:100%;
    background-attachment:fixed;
}

span{
    color:yellow;
    text-transform:uppercase;
    text-decoration: underline;
}

p{
    margin-bottom: 50px;
}

.container{
    width:100%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
    color: #000000;
    /*background: radial-gradient(#000000, transparent);*/
    padding-bottom: 30px;
}

.container h1{
    font-size:160px;
    margin:0;
    font-weight:bold;
    letter-spacing:20px;
}

.container a{
    text-decoration:none;
    background:#e55039aa;
    color: #fff;
    padding: 12px 24px;
    border-radius:25px;
    font-size:24px;
    text-transform:uppercase;
    transition:0.4s;
}

.container a:hover{
    background: #e55039;
}