@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

/*  ----  General  ----  */
body {
	/* background-color: #FFE4CF; */
	background-image: url(/assets/images/cream-bg.png);
	padding: 0;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	
}

.container-fluid,
.row,
.no-gutters {
	width: 100%;
	max-width: 100%;
	margin: 0;
}

/* ---- Bold Text ---- */

.bold {
	font-weight: bold;
}


/* ----- Logo -----*/

.logo {
	height: 90px;
}


/*  ----  Navigation  ----  */

.navbar-container {
	background-color: black;
	padding-top: 0;
	margin-top: -1rem;
	box-shadow: 0 12px 8px -5px #ffffff54;
}

a:hover {
	text-decoration: none;
	color: rgb(181, 205, 0);
}

.nav-links {
	font-family: "Happy Monkey", system-ui;
	font-weight: 600;
	font-style: normal;
	font-size: 160%;

	padding-top: 20px;
	padding-bottom: 3px;
	padding-left: 14px;
	padding-right: 14px;

	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.nav-links i {
	margin-right: 8px;
}

.nav-icons {
    margin-bottom: 4px;
}

.list-inline-item:hover {
	text-decoration: none;
	background-color: rgba(45, 45, 45, 0.769);
	border-radius: 22px;
}

/* ---- Home Link ---- */
.nav-home .nav-links{
	color: #B0C5A4;
}

/* ---- Sounds Link ---- */
.nav-sounds .nav-links {
    color: #D37676;
}

/* ---- Games Link ---- */
.nav-games .nav-links {
    color: #EBC49F;
}

/* ---- Memes Link ---- */
.nav-memes .nav-links {
    color: #F1EF99;
}

/* ---- About Link ---- */
.nav-about .nav-links {
    color: grey;
}


/* ------- Content -------*/

.description-home {
	background-color: rgba(212, 212, 212, 0.112);
}

h2 {
	color: rgb(68, 68, 68);
}

span {
	color: white;
}


/* ----- Activities Heading -----*/

.activities-heading {
	color: #454545;
}


/* ----- Carousell -----*/

.gtco-testimonials {
	position: relative;
	margin-top: 30px;
  
	h2 {
	  font-size: 30px;
	  text-align: center;
	  margin-top: 30px;
	}
  
	.owl-stage-outer {
	  padding: 30px 0;
	}
  
	.owl-nav {
	  display: none;
	}
  
	.owl-dots {
	  text-align: center;
  
	  span {
		position: relative;
		height: 10px;
		width: 10px;
		border-radius: 50%;
		display: block;
		background: #fff;
		border: 2px solid #01b0f8;
		margin: 0 5px;
	  }
  
	  .active {
		box-shadow: none;
  
		span {
		  background: #01b0f8;
		  box-shadow: none;
		  height: 12px;
		  width: 12px;
		  margin-bottom: -1px;
		}
	  }
	}
  
	.card {
	  background: #313131b2;
	  box-shadow: 0 8px 30px -7px #c9dff0;
	  margin: 0 20px;
	  padding: 0 10px;
	  border-radius: 20px;
	  border: 0;
  
	  .card-img-top {
		max-width: 100px;
		border-radius: 50%;
		margin: 15px auto 0;
		box-shadow: 0 8px 20px -4px #95abbb;
		width: 100px;
		height: 100px;
	  }
  
	  h5 {
		color: rgb(201 201 201 / 77%);
		font-size: 21px;
		line-height: 1.3;
  
		span {
		  font-size: 18px;
		  color: #666666;
		}
	  }
  
	  p {
		font-size: 16px;
		color: #ffffffc7;
		padding-bottom: 15px;
	  }
	}
  
	.active {
	  opacity: 0.5;
	  transition: all 0.3s;
	}
  
	.center {
	  opacity: 1;
  
	  h5 {
		font-size: 24px;
  
		span {
		  font-size: 20px;
		}
	  }
  
	  .card-img-top {
		max-width: 100%;
		height: 120px;
		width: 120px;
	  }
	}
  }
  
  @media (max-width: 767px) {
	.gtco-testimonials {
	  margin-top: 20px;
	}
  }
  
  .owl-carousel {
	.owl-nav button {
	  &.owl-next, &.owl-prev {
		outline: 0;
	  }
	}
  
	button.owl-dot {
	  outline: 0;
	}
  }


/* ------------------- Media Queries ------------------- */

@media (max-width: 768px) {
	.nav-links {
		font-size: 120%;
		padding-top: 2px;
		padding-bottom: 2px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.list-inline-item {
		margin-right: 1rem;
	}
}

@media (max-width: 576px) {
	.nav-links {
		font-size: 100%;
		padding: 5px;
	}

	.list-inline-item {
		margin-right: 0.5rem;
	}
}


@media (min-width: 768px) {
	.col-6 {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}


/* ------------- Footer ------------- */

footer {
	background-color: grey;
	min-height: 80px;
}