#playersContainer{
    position: absolute;
    /* z-index: 999; */
}

.player-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-color: #000000;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    cursor: move;
    z-index: 99999;
}

.playButton {
    border: none;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: inherit;

}

.gearButton {
    border: none;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: inherit;

}

.deleteButton {
    border: none;
    background-color: transparent;
    color: rgb(174, 0, 0);
    font-size: inherit;
}

#addPlayerBtn,
#muteAllBtn,
#closeAllBtn,
#stopAllBtn,
#timerBtn {
    border: none;
    background-color: transparent;
    color: rgb(146, 146, 146);
    font-size: inherit;
}

#addPlayerSubmit {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 2em;
}

#cancelAddPlayer {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 2em;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;

}

.volume-slider {
    display: none;
    width: 100px;
    margin-left: 10px;

}

.sound-name {
    margin-bottom: 5px;
    margin-top: 2px;

}

.frosted-glass-effect {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
    backdrop-filter: blur(5px); 
    background-color: rgba(0, 0, 0, 0.1); 
    padding: 5px; 
    border-radius: 10px;
    border: none;

}

/* Custom Volume Slider Controls */
.volume-slider {
    appearance: none;
    width: 100%;
    height: 8px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    cursor: pointer;

}

.volume-slider::-webkit-slider-thumb {
    appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    cursor: grab;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    z-index: 999;
}

/* Custom Color Slider Controls */
.color-slider {
    appearance: none;
    width: 100%;
    height: 8px;
    background: rgba(32, 32, 32, 0.3);
    border-radius: 5px;
    cursor: pointer;
}

.color-slider::-webkit-slider-thumb {
    appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: rgb(35, 35, 35);
    cursor: grab;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);

}

/* Style modal */
.input-transparent, .select-transparent {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    padding: 5px;
}

#addPlayerModal {
    position: fixed;
    top: 100px;
    left: calc(50% - 150px);
    width: 600px !important;
    display: none;
}

input::placeholder {
    color: rgb(0, 0, 0);
  }

/* Style adjustments for labels for better visibility */
label {
    color: rgba(255, 255, 255, 0.7);
}


/* timer styling */
.draggable {
    width: 150px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: grab;
    position: absolute;
    top: 50px;
    left: 50px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
    backdrop-filter: blur(5px); 
    background-color: rgba(0, 0, 0, 0.1); 
    position: fixed;
    top: 0.5%;
    left: 30%;
    z-index: 999;
}

#timer {
    margin: 0;
    font-size: 20px;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.icon-button i {
    font-size: 20px; 
}

.draggable #start-stop-btn {
    color: black;
}