/* General styles */
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.navbar {
    z-index: 2000;
}

span {
  color: rgb(221, 47, 76);
  font-weight:900;
}

.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light.navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(221, 47, 76);
}
/* Quiet Space HTML */
.carousel-container {
    padding: 0;
    z-index: 100;
  }
  
  .carousel-item img {
    min-height: 95vh;
    max-height: 95vh;
    object-fit: cover;
  }
  
  .carousel-control-next, .carousel-control-prev {
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 1s ease;
  }
  
  .carousel-control-next:hover, .carousel-control-prev:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }
  
  .sr-only {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    color: #151515;
    font-weight: 400;
  }

  /* reduce size of burger icon for small screens */
  .navbar-toggler-icon {
    font-size: 0.8rem;
}

/* -------------- Footer --------------*/

#footer {
	background-color: #fff9eb;
	color: #333;
}

.footer-info h3 {
	color: #000000;
}

.footer-info p {
	color: #333;
}

/* ---- Social Links ---- */

.social-links a {
	color: #323232;
	margin-right: 15px;
	font-size: 25px;
}

.social-links a:hover {
	color: #700b0b;
}


.container-fluid {
	padding-right: 0;
	padding-left: 0;
}

#footer .row {
	padding-right: 15px;
	padding-left: 15px;
}


.main-content {
	padding-bottom: 250px;
}



@media (max-width: 767px) {

	.footer-info h3,
	.footer-info p,
	.social-links a {
		display: block;
		margin: 0 auto;
		float: none;
	}

	.social-links {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.footer-info,
	.social-links {
		text-align: center;
	}
}

.team-name {
	color: #8f0000;
}

.copyright {
	font-size: 12px;
}

.custom-p {
	font-size: 12px;
}