#playersContainer{
    position: relative;
    z-index: 999;
}

.player-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 10px;
    background-color: #000000;
    color: rgb(0, 0, 0);
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    cursor: move;
    z-index: 9999;
}

.playButton {
    border: none;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: inherit;
}

.gearButton {
    border: none;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: inherit;
}

.deleteButton {
    border: none;
    background-color: transparent;
    color: rgb(174, 0, 0);
    font-size: inherit;
}

#addPlayerBtn,
#muteAllBtn,
#closeAllBtn,
#stopAllBtn,
#timerBtn {
    border: none;
    background-color: transparent;
    color: rgb(146, 146, 146);
    font-size: inherit;
}

#addPlayerSubmit,
#cancelAddPlayer  {
    border: none;
    background-color: transparent;
    font-size: 2em;
}
/* custom css for responsiveness */
.controls > :not(.deleteButton) {
    flex: 1 1 auto; 
    min-width: 50px;
}

.controls > * {
    flex: 1 1 auto;
    min-width: 50px;
}

/* style sliders */
.controls .volume-slider, 
.controls .color-slider {
    flex: 0 0 calc(100% - 40px);
    display: none;
    margin: 10px 10px;
}

/* Always show sliders on small screen full width  */
.controls.expanded .volume-slider,
.controls.expanded .color-slider {
    display: block;
}

.deleteButton {
    flex-basis: 100%;
    order: 3;
    margin: 10px 0px;
}

.volume-slider {
    display: none;
    width: 100px;
    margin-left: 10px;
}

.sound-name {
    margin-bottom: 5px;
    margin-top: 2px;
}

.frosted-glass-effect {
    font-weight: 500;
    backdrop-filter: blur(5px); 
    background-color: rgba(0, 0, 0, 0.1); 
    padding: 5px; 
    border-radius: 10px;
    border: none;

}

.frosted-glass-modal {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 500;
    backdrop-filter: blur(5px); 
    background-color: rgba(0, 0, 0, 0.4); 
    padding: 5px; 
    border-radius: 10px;
    border: none;

}

/* Custom Volume Slider Controls */
.volume-slider {
    appearance: none;
    width: 100%;
    height: 8px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    cursor: pointer;

}

.volume-slider::-webkit-slider-thumb {
    appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    cursor: grab;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    z-index: 999;
}

/* Custom Color Slider Controls */
.color-slider {
    appearance: none;
    width: 100%;
    height: 8px;
    background: rgba(32, 32, 32, 0.3);
    border-radius: 5px;
    cursor: pointer;
}

.color-slider::-webkit-slider-thumb {
    appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: rgb(35, 35, 35);
    cursor: grab;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);

}

/* Style modal */
.input-transparent, .select-transparent {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    padding: 5px;
}

input::placeholder {
    color: rgb(0, 0, 0);
  }

#videoId::placeholder,
#playerName::placeholder {
    color: rgb(184, 184, 184);
}

#videoDropdown {
    color: rgb(184, 184, 184);
}

/* timer styling */
.draggable {
    width: 150px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: grab;
    position: absolute;
    top: 50px;
    left: 50px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
    backdrop-filter: blur(5px); 
    background-color: rgba(0, 0, 0, 0.1); 
    position: fixed;
    top: 0.5%;
    left: 30%;
    z-index: 999;
}

#timer {
    margin: 0;
    font-size: 20px;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.icon-button i {
    font-size: 20px; 
}

.draggable #start-stop-btn {
    color: black;
}

.modal {
    color: black;
}

.slider-row {
    border-top: #000000;
}



/*  test area  */


/* Media query for smaller screens */
@media (max-width: 576px) { /* Adjusts for phones */
     /* Hide the carousel on smaller screens */
     .carousel, #carouselExampleIndicators {
        display: none;
    }

       /* Apply a standard background to the body */
       body {
        background: url('../images/boat.jpg') no-repeat center center fixed; 
        background-size: cover;
    }
    
    #playersContainer {
        position: static;
        width: auto;
        margin-top: 20px;
        z-index: 999;
    }
    
    .player-container {
        position: static;
        max-width: none;
        margin: 10px auto;
        left: auto;
        bottom: auto;
        z-index: 999;
    }

    .player-container .controls {
        flex-wrap: wrap;
    }

    /* increase Sound Name on full width player */
    .sound-name {
        font-size: 1.25rem;
    }

    .playButton, .gearButton {
        font-size: 1.5rem; /* Makes the icon within the button larger */
        padding: 0; /* Adjust padding to increase button size, tweak as needed */
    }



    
}