html, body {
  height: 100%;
  overflow: hidden;
}

body > footer {
  position: sticky;
  top: 100vh;
}

span {
  color: rgb(221, 47, 76);
  font-weight: 900;
}

.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light.navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(221, 47, 76);
}

body {
  background: url(../images/energy_game.png) rgba(0, 0, 0, 0.3) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* Heading */
.hero {
  margin: 80px;
}
#energy {
  color: rgba(219, 32, 163);
}
.hero-container {
  background-color: rgb(255, 255, 255, 0.8);
  width: 100%;
  padding: 20px 23px 20px 23px;
  max-width: 650px;
  max-height: max-content;
  max-height: fit-content;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin: 80px;

}

/* Main game */
#score {
  color: rgb(14, 146, 58);

}
#draco_score {
  color: red;

}

#result {
  margin-top: 50px;
}

/* Modal */
.modal {
  background-color:rgba(0,0,0,0.5);
}
.enhanced-list li {
  margin-bottom: 10px;
}

.enhanced-list li:first-child strong {
  font-weight: bold;
}

.enhanced-list li small {
  display: block;
  color: rgb(137, 137, 137)
}

.close {
  background: none;
  border: none;
  font-size: 30px; 
}

/* Reset button */
#resetButton, .info-btn {
  
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#resetButton:hover,
#resetButton:focus,
.info-btn:hover,
.info-btn:focus{
  background-color: #2e5b3d;
}


/* Footer */
.container-fluid {
	margin-top: 2px;
}
#footer {
	margin-top: 15px;
	background-color: transparent;
	color: white;
	width: 100%;
	bottom: 0;
}

.footer-info h3 {
	color: white;
}

.footer-info p {
	color: white;
}

/* social links */

.social-links a {
	color: white;
	font-size: 30px;
}

.social-links a:hover {
	color:white;
}


.container-fluid {
	padding-right: 0;
	padding-left: 0;
}



@media (max-width: 767px) {

	.footer-info h3,
	.footer-info p,
	.social-links a {
		display: block;
		margin: 0 auto;
		float: none;
		color: white;
	}

	.social-links {
		margin-top: 2px;
		margin-bottom: 10px;
	}

	.footer-info,
	.social-links {
		text-align: center;
	}
}

.team-name {
	color: white;
}

.copyright {
	font-size: 12px;
}

.custom-p {
	font-size: 12px;
}