html, body {
    width: 100%;
    background: pink;
    overflow-x: hidden;
  }
  
  body > footer {
    position: sticky;
    top: 100vh;
    
  }
  


/*-- email section --*/
.card {
    border-radius: 30px;
    box-shadow: none;
    opacity: 0.8;
}

.card-body {
    border-radius: 30px;
}

.form-text {
    color: black;
    font-weight: 600;
}

/*-- email buttons --*/

.btn-primary {
    background-color: rgb(255, 207, 215);
    border-color: rgb(255, 207, 215);
    color: black;
}

.btn-secondary {
    background-color: rgb(255, 207, 215);
    border-color: rgb(255, 207, 215);
    color: black;
}

.btn:hover {
    background-color: rgb(210, 8, 42);
    border-color: rgb(210, 8, 42);
}
.btn:focus {
    background-color: rgb(210, 8, 42);
    border-color: rgb(210, 8, 42);
    box-shadow: 0 0 0 0.25rem rgba(210, 8, 42, 0.5);
    
}

/* About section */

h1 {
    font-weight: 600;
    margin: 40px 0px;
}

.about-container {
    border-radius: 12px;
    gap: 0.8rem;
    padding: 15px;
    max-width: 500px;
    margin: 0px auto;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-color: rgb(210, 8, 42) rgb(255, 207, 215);
}

.about-img img {
    width: 300px;
    height: auto;
}

.about-info h2 {
    font-size: 1.4em;
}

/*-- Scrollbar --*/

.about-container::-webkit-scrollbar {
    width: 10px;
}

.about-container::-webkit-scrollbar-track {
    background: #ddd;
}

.about-container::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 5px;
}

.about-container::-webkit-scrollbar-thumb:hover {
    background-color: rgb(230, 18, 53);
}

/*-- Contributor image --*/

.contributors {
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
}

.contributors:hover {
    box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.7);
    transform: scale(1.02);
}

.about-img {
    object-fit: cover;
    position: relative;
}

.contributors img {
    border-radius: 12px;
}

.about-info {
    border-radius: 12px;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    position: absolute;
    bottom: 0px;
    background: linear-gradient(to top, white, transparent);
    width: 100%;
}

.about-p {
    text-align: justify;
    margin: 0 auto 40px;
}

.contributors h2 {
    font-weight: 600;
    margin-right: 10px;
}

.fa-github,
.fa-linkedin {
    font-size: 1.9rem;
    margin-right: 5px;
    color: rgb(221, 47, 76);
}

/*--  nav bar --*/
span {
    color: rgb(221, 47, 76);
    font-weight: 900;
}

.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light.navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(221, 47, 76);
}

/* Footer */
.container-fluid {
	margin-top: 2px;
}
#footer {
	margin-top: 15px;
	background-color: transparent;
	color: rgb(48, 45, 45);
	width: 100%;
	bottom: 0;
}

.footer-info h3, p {
	color: rgb(48, 45, 45);
}


/* social links */

.social-links a {
	color: rgb(48, 45, 45);;
	font-size: 30px;
}

.social-links a:hover {
	color:rgb(48, 45, 45);;
}


.container-fluid {
	padding-right: 0;
	padding-left: 0;
}



@media (max-width: 767px) {

	.footer-info h3,
	.footer-info p,
	.social-links a {
		display: block;
		margin: 0 auto;
		float: none;
		color: rgb(48, 45, 45);;
	}

	.social-links {
		margin-top: 2px;
		margin-bottom: 10px;
	}

	.footer-info,
	.social-links {
		text-align: center;
	}
}

.team-name {
	color: rgb(48, 45, 45);;
}

.copyright {
	font-size: 12px;
}

.custom-p {
	font-size: 12px;
}