.player-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-color: #fff;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    cursor: grab;
}

.playButton {
    border: none;
    background-color: transparent;
    color: white;
    font-size: inherit;
}

.gearButton {
    border: none;
    background-color: transparent;
    color: white;
    font-size: inherit;
}

.deleteButton {
    border: none;
    background-color: transparent;
    color: white;
    font-size: inherit;
}

#addPlayerSubmit {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 2em;
}

#cancelAddPlayer {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 2em;
}


.controls {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.volume-slider {
    display: none;
    width: 100px;
    margin-left: 10px;
}

.sound-name {
    margin-bottom: 5px;
    margin-top: 2px;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0; 
    height: 100%;
    background-image: url('https://images.unsplash.com/photo-1454982523318-4b6396f39d3a?q=80&w=4170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.frosted-glass-effect {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 500;
    backdrop-filter: blur(5px); 
    background-color: rgba(255, 255, 255, 0.1); 
    padding: 5px; 
    border-radius: 10px;
    border: none;
}

/* Custom Volume Slider Controls */
.volume-slider {
    appearance: none;
    width: 100%;
    height: 8px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    cursor: pointer;
}

.volume-slider::-webkit-slider-thumb {
    appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    cursor: grab;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

/* Style modal */
.input-transparent, .select-transparent {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    padding: 5px;
}

#addPlayerModal {
    position: fixed;
    top: 100px;
    left: calc(50% - 150px);
    width: 600px !important;
    display: none;
}

input::placeholder {
    color: white;
  }

/* Style adjustments for labels for better visibility */
label {
    color: rgba(255, 255, 255, 0.7);
}

/* dark theme options */
.player-container-dark {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 20px;
    border: 1px solid #222;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    padding: 10px;
    background-color: #000000;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    cursor: grab;
}

.playButton-dark {
    border: none;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: inherit;
}

.gearButton-dark {
    border: none;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: inherit;
}

.deleteButton-dark {
    border: none;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: inherit;
}

#addPlayerSubmit-dark {
    border: none;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 2em;
}

#cancelAddPlayer-dark {
    border: none;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 2em;
}